@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');


*{
    margin: 0;
    padding: 0;
    
    font-family: 'Vujahday Script', Thin 100;
}

body{
    background: gray;
}

.start-button,
.quiz,
.results {
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}